.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 2rem;
  background: linear-gradient(to bottom left, #89f6fee6, #6699ff);
  color: white;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
}

.login-form input {
  padding: 0.75rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}

.login-form .button {
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  background-color: white;
  color: #007bff;
  transition: transform 0.3s, opacity 0.3s;
}

.login-form .button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
